.App {
  text-align: center;
  background-color: #EEEEEE;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #424242;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-container {
  /*
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: '#F5FCFF';
  */
  background-color: #EEEEEE;
  margin: auto;
  width: 600px;
}

.App-welcomeLogo {
  height: 120px;
  width: 80px;
}

.App-welcomeLogoText {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 28px;
}

.App-inputBox {
  background-color: #F5FCFF;
  border-radius: 10px;
  border-color: #FFF;
  border-width: thin;
  font-size: 18px;
  margin: auto;
  margin: 15px;
  padding: 5px;
  width: 100%;
}

.App-button {
  background-color: #757575;
  border-radius: 10px;
  color: #FFF;
  margin: 15px;
  padding: 20px;
  width: 100%;
}

.App-buttonText {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.App-block {
  display: block;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media screen and (max-width: 720px){
    .body { flex-wrap: wrap; font-size: 10px; }
    .App-container { flex-wrap: wrap; }
    .button,
    .textarea,
    .input[type=password] {
      width: auto;
    }
}
